@font-face {
  font-family: 'chalk';
  src: url(./assets/chalk-board.regular.otf);
  font-weight: normal;
}
body{
  margin: 0;
  padding: 0;
  background-color: black;
  color: white;
  font-family: chalk;
}

nav{
  width: 100%;
}

nav p{
  font-size: 60px;
  margin: 30px 0 0 60px;
  letter-spacing: 5px;
  text-decoration: underline;
}

#intro-div{
  display: grid;
  grid-template-columns: 1fr 1fr;
}

#intro-div p {
  font-size: 45px;
  letter-spacing: 5px;
  padding: 10px 0px 10px 60px;
}

#intro-polaroid{
  display: flex;
  justify-content: center;
  align-items: center;
}

.tape-div{
  display: flex;
  justify-content: space-between;
  width:350px;
  position: absolute;
  top: 0;
  left: 0;
}

.tape1, .tape2{
  width: 100px;
  height: 40px;
  background-color: white;
  opacity: 50%;
}

.tape1{
  margin-left: -30px;
  transform: rotate(-50deg);
}

.tape2{
  margin-right: -30px;
  transform: rotate(50deg);
}

.polaroid{
  position: relative;
  background-color: white;
  width: 350px;
  height: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.polaroid img{
  margin-top: 15px;
  width: 320px;
  height: 320px;
  object-fit: cover;
}

.tilt{
  transform: rotate(6deg);
}